<div class="container">
  <div class="row justify-content-md-center ">
    <div class="col-lg-6 col-lg-offset-3 myform">
        <form>            
            <div class="form-group">
              <label for="ID">ID</label>
              <input type="text" class="form-control" id="id" placeholder="Enter ID" [(ngModel)]="newAccount.id" name="newAccount.id">
            </div>
            <div class="form-group">
              <label for="Name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter Name" [(ngModel)]="newAccount.name" name="newAccount.aname">
            </div>
            <div class="form-group">
              <label for="Description">Blance</label>
              <input type="text" class="form-control" id="balance" placeholder="Enter Description" [(ngModel)]="newAccount.balance" name="newAccount.balance">
            </div>
            <div class="form-group">
              <label for="Price">Branch</label>
              <input type="text" class="form-control" id="branch" placeholder="Enter Price" [(ngModel)]="newAccount.branch" name="newAccount.branch">
            </div>
            <div class="form-group">
              <label for="Price">Owner</label>
              <input type="text" class="form-control" id="owner" placeholder="Enter Price" [(ngModel)]="newAccount.owner" name="newAccount.owner">
            </div>
            <div>
              <button (click)="Submit()" class="btn btn-success">Submit</button>
              <!-- <button (click)="update()"class=" button">Update</button>
              <button (click)="delete()"class=" button">Delete</button> -->
            </div>
          </form>
    </div>
  </div>
  
</div>