<app-navbar></app-navbar>
<div class="container">
  <button (click)="AccForm()" class="btn btn-success">Add new user +</button>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Balance (Rs.)</th>
        <th scope="col">Branch</th>
        <th scope="col">Owner</th>
        <th scope="col">View</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- Get all Account - Table -->
      <tr *ngFor="let Account2 of accounts;let i = index">
        <th scope="row">{{Account2.id}}</th>
        <td>{{Account2.name}}</td>
        <td>{{Account2.balance}}</td>
        <td>{{Account2.branch}}</td>
        <td>{{Account2.owner}}</td>

        <!-- Button trigger modal -->
        <td> <button (click)="view(i)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            View
          </button></td>


        <!-- <td><button type="button" class="btn btn-info">View</button></td> -->
        <td><button (click)="update(i)" type="button" class="btn btn-warning">Update</button></td>
        <td><button (click)="delete(i)" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Induvidual Account show -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Account Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <tbody>
            <tr>
              <th>ID</th>
              <td>{{selectAccount.id}}</td>              
            </tr>
            <tr>
              <th>Name</th>
              <td>{{selectAccount.name}}</td>              
            </tr>
            <tr>
              <th>Balance (Rs.)</th>
              <td>{{selectAccount.balance}}</td>              
            </tr>
            <tr>
              <th>Branch</th>
              <td>{{selectAccount.branch}}</td>              
            </tr>
            <tr>
              <th>Owner</th>
              <td>{{selectAccount.owner}}</td>              
            </tr>
          </tbody>
          </table>
      </div>
    </div>
  </div>
</div>